.main {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    gap: 10px 5px;
}

.main div {
    background-color: blue;
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
    color: white;
    font-size: 1em;
    border: 1px solid red;
}

.main div div {
    color: red;
}
