.main {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.main div {
    background-color: blue;
    width: 200px;
    height: 100px;
    color: white;
    font-size: 1em;
    align-self: center;
}

.main div:nth-child(2){
    background-color: black;
    flex-grow: 1;
}

.main div:nth-child(3){
    flex-grow: 2;
}