.main {
    display: flex;
    justify-content: center;
    /* width: 100%; */
    height: 100vh;
}

.main div {
    background-color: blue;
    flex-basis: 30%;
    height: 100px;
    color: white;
    font-size: 1em;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main div:nth-child(2){
    background-color: black;
    flex-grow: 3;
}
