.main {
    display: grid;
    grid-template-columns: auto 100px;
    grid-template-rows: repeat(4, 100px);
    grid-template-areas: 
    "h h h h"
    "c c c n"
    "c c c n"
    "f f f f"
    ;
}

.main div {
    border: 1px solid;
    border-color: rebeccapurple;
    flex-basis: 30%;
    color: white;
    font-size: 1em;
}

.h{
    grid-area: h;
    background-color: aquamarine;
}

.c{
    background-color: bisque;
    grid-area: c;
}
.n{
    background-color: red;
    grid-area: n;
}
.f{
    background-color: red;
    grid-area: f;
}