.main{
    display: grid;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    row-gap: 0;
    column-gap: 0;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
}

.main div{
    background-color: blue;
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
    color: white;
    font-size: 1em;
}